* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: 
    linear-gradient(rgba(45, 45, 45, 0.8)), 
    url('/IMG/login_signup_background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #container {
    width: 100%;
    max-width: 380px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .logo-heading img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  .logo-heading h1 {
    font-size: 2rem;
    color: #1d1f21;
    font-weight:bolder;
  }
  .login-message {
    display: none;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    text-align: center;
    color: #b91c1c; 
    background-color: #fee2e2; 
    border: 1.5px solid #f87171;
    transition: all 0.3s ease-in-out;
  }
  
  #email_pass {
    width: 100%;
  }
  
  #email_pass label {
    display: block;
    margin-top: .9rem;
    font-weight: 600;
    color: #444;
  }
  
  #email_pass input {
    width: 100%;
    padding: 10px;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  #email_pass input:focus {
    border: 2px solid;
    border-color: #d4af37;
    outline: none;
  }
  
  #email_pass button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 10px;
    background-color: #d4af37;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .signup-link{
    margin-top: 1rem ;
    text-align: center;
  }
  
  #email_pass button:hover {
    background-color: #a98408;
  }

  @media (max-width: 480px) {
    #container {
      padding: 1.5rem;
    }
  
    .logo-heading h1 {
      font-size: 1.2rem;
    }
  
    #email_pass input,button {
      font-size: 0.95rem;
    }
  }
  